html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html, body{
  height: 100%;
}
header {
    height: 50px;
    background-color: rgba(1, 38, 70, 1);
    
    text-align: center;
}span,
button,
h3{
	text-transform: uppercase;
}
button,
i{
  cursor: pointer;
}
h2{
	color: #000;
	font: 400 40px 'PT Serif', sans-serif;
	line-height: 50px;
	margin-bottom: 40px;
}
fieldset{
  margin: 10px auto;
}
input,
textarea {
    background: transparent;
    font: 700 15px 'PT Sans', sans-serif; 
    padding: 5px;
}
.no_scroll{
  overflow: hidden;
}
.max_width {
    max-width: 1200px;
    margin: 0 auto;
}
.main_wrapper{
  position: relative;
}
.clear {
    clear: both;
}
.sub_heading{
	color: #1c1a19;
	font: 700 19px 'PT Sans', sans-serif;
	line-height: 10px;
}
.heading{
	font: 700 19px 'PT Sans', sans-serif;
	line-height: 10px;
}

.content{
	color: #1c1a19;
	font: 400 20px 'PT Sans', sans-serif;
	line-height: 26px;
	margin-top: 20px;
	padding: 20px 0;
}
.heading_white,
.content_white{
	color: #f1f1ef;
}
header span{
	background-color: #2F292B;
	padding: 5px 20px; 
	font-style: italic;
	font-family: 'PT Sans', serif;
	color: #fff;
	margin-right: 50px;
	box-shadow: 2px 2px 2px 2px #000;
}
.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
    	         rgba(0,0,0,0.7),
    	         rgba(0,0,0,0.7)), url('../assets/home_banner.png') no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    position: relative;
 
}
.banner h1,
.banner p{
	color: #f1f1ef;
	font-weight: 400;
}
.banner h1{
	font-size: 30px;
	font-family: 'PT Serif', serif;
}
.banner p{
	font-style: italic;

}
 .corsair_logo {
	max-width: 300px;
	width: 80%;
}
.btn_grp{
	padding: 20px 0;
  display: none;
}
#btn_fixed {
  text-align: center;
  width: 100%;
}
#btn_fixed i {
  margin-left: 20px;
}
.btn_hidden{
  display: none;
}
.btn_visible{
  display: block;
  position: fixed;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
}
.banner_btn{
	background-color: #D55746;
	color: #fff;
	border: none;
	width: 200px;
	box-sizing: border-box;
	padding: 10px 20px;
}
.sign_up_btn{
  background-color: #D55746;
  color: #fff;
  font-style: italic;
  border: none;
  width: 100px;
  margin: 15px 0;
}
.select{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;

}
.btns{
	text-transform: uppercase;
	background: transparent;
	width: 100%;
	padding: 10px 0;
	font: 700 15px 'PT Sans', sans-serif;
	font-style: italic;
	line-height: 13px;
	display: block;
	margin: 20px auto;
}
.btn_black{
	color: #1c1a19;
	border: 1px solid #1c1a19;
}
.btn_white{
	color: #f1f1ef;
	border: 1px solid #f1f1ef;
}

.menu_items{
  width: 100%;
  height: 0;
  background-color: #D55746;
  position: fixed;
  z-index: 20;
  transition: all 0.5s linear;
  overflow: hidden;
  text-align: center;
}
#close_button{
  float: right;
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #D55744;
  cursor: pointer;
}
.menu_expand{
  height: 100vh;

  }
  .menu_contents{
    padding: 100px 0;
  }
  .menu_contents a {
    color: #fff;
    text-decoration: none;
    display: block;
    font: 400 30px 'PT Serif', sans-serif;
    padding-top: 15px;
  }
  .menu_social_icons{
    padding: 50px 0;
  }
  .menu_contents a:hover {
    color: #fefefe;
    opacity: 80%;
  }
.story img,
.neighborhood_story img{
	display: block;
	margin:0 auto;
}
.backstory {
    background-color: #efecec;
    text-align: center;
    padding: 80px 0;
    box-sizing: border-box;
}
.map_container{
	position: relative;
	height: auto;
}
.image_holder{
	position: relative;
	top: 0;
}
.neighborhood_image {
	background: url('../assets/neighborhood.jpg') no-repeat;
	background-size: cover;
	min-height: 400px;
	display: block;
}
.neighborhood_story{
	background-color: #292222;
	display: block;
	padding: 50px 30px;
}
.map{
	background: url('../assets/Corsair_home_map.jpg') no-repeat;
	background-size: cover;
	width: 15%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: none;

}
.expand_map_btn{
	position: absolute;
   		right: 0;
   		top: 50%;
   		transform: translateY(-50%);
   		width: 15%;
   		display: none;
}
.image img {
    max-width: 500px;
    width: 100%;
}
 .slider_container {
    	display: table;
    	position: relative;

    }
.slider_story {
    background-color: #efecec;
    padding: 50px 30px;
}
.slider_story article{
	text-align: center;
}

.container{
	padding: 0;
	width: 100%;
}
	
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    display: table-cell;
    margin: auto;
}

.sign_up_container {
    background: url('../assets/pattern.jpg');
    min-height: 200px;
    padding: 50px 0;
}

.sign_up {
    background-color: #fff;
    max-width: 800px;
    width: 90%;
    padding: 30px 20px;
    text-align: left;
}
.sign_up .content {
  margin:0;
}
.signup_input{
  border: 1px solid #000;
  color: #000;
  width: 90%;
  display: block;
  margin-bottom: 15px;
}


#signup_form input::-webkit-input-placeholder {
   color: #000;
  
}

#signup_form input:-moz-placeholder { /* Firefox 18- */
   color: #000;  
  
}

#signup_form input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  

}

#signup_form input:-ms-input-placeholder {  
   color: #000;  
    
}

.query_container {
    background-color: #292222;
    text-align: center;
    padding: 40px 0;
}
.query_container form{
  padding: 40px 20px;
}
#query_form{
  width: 90%;
  margin: 0 auto;
}
.query_input{
  display: block;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 15px;
  width: 100%;
  font-style: italic;
}
#query_msg{
  min-height: 150px;
}
.query_btn{
  background-color: #D55746;
  width: 150px;
  border: none;
  color: #fff;
  font-style: italic;
}
footer {
    background: url('../assets/footer.jpg') no-repeat;
    text-align: center;
    min-height: 700px;
    position: relative;
    background-size: cover;
    
}
.footer_nav{
  display: none;
}
  .footer_images{
    padding: 120px 40px;
  
  }
  .footer_logo{
    display: inline-block;
  }
  .footer_logo img {
    max-height: 150px;
  }
  .contact{
    display: inline-block;
    vertical-align: top;
  }
  .social_icons{
    display: block;
    margin-left: 10px;
  }
  .social_icons a{
    display: inline-block;
    margin: 5px 20px;
  }

  .social_icons a:first-child{
    margin-left:0;
  }
  .address{
    display: block;
    margin-left: 30px;
    color: #f1f1ef;
    text-align: left;
    padding: 20px 0;
    font: 700 17px 'PT Sans', sans-serif;
  }
  .copyright{
    padding: 30px 0;
  }
  .copyright img {
    margin: 10px;
  }
  .copyright span{
    color: #fff;
    margin: 10px;
  }


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100%;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}



@media screen and (min-width: 768px) {
  .btn_grp{
    display: block;
}
  .footer_nav{
    display: block;
    padding: 20px 0;
    border-top: 1px solid #f1f1ef;
    border-bottom: 1px solid #f1f1ef; 
}
.footer_nav a{
  color: #f1f1ef;
  margin: 5%;
  font: 700 19px 'PT Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.footer_nav a:hover {
  color: #D55746;
}
}



@media screen and (min-width: 1024px) {
    .banner h1{
	font-size: 75px;
}
	.banner p{
		font-size: 32px;
	}
  .menu_contents a {
    font: 400 40px 'PT Serif', sans-serif;
  }
    .backstory {
        text-align: left;
    }
    .image {
        display: inline-block;
        width: 45%;
    }
    .story {
        display: inline-block;
        width: 33%;
        vertical-align: top;
    }
    .image_holder{
    	width: 85%;
    	display: table;
      table-layout: fixed;
    	height: 100%;
    }
    .neighborhood_image{
    	display: table-cell;
    		width: 60%;
    }
    .neighborhood_story{
    	display: table-cell;
    	width: 40%;
    }
    .map{
    	display: block;
    	transition: all .5s linear;
    }
   	.expand_map_btn{
   		display: block;
   	}
   	.expand_map{
   		width: 100%;
   		z-index: 10;
   		background-size: cover;
   		background-position: center;
   		
   	}
   	.close_map{
   		position: absolute;
   		top: 20px;
   		left: 20px;
   		width: 20px;
   		height: 20px;
   		z-index: 5;
      cursor: pointer;
   	}
    .slider_story {
        width: 50%;
        display: table-cell;
    }
    .slider_story article {
        float: right;
        text-align: left;
        margin-right: 30px;
    }
    .slider {
        width: 50%;
       display: table-cell;
    }  
    .signup_input{
      width: 30%;
      display: inline-block;
    }
    .signup_input:not(:last-child){
  margin-right: 10px;
}
.query_input{
  display: inline-block;
  width: 30%;
}
textarea.query_input{
  width: 91%;
}
.footer_nav a{

  margin: 10%;
 
}

}
